{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="fastaUpload">
{{form.hidden_tag()}}
<p>
    Enter a single fasta list if you are editing one:<br>
    {{ form.fastaList(size=25) }}
    {% for error in form.errors.fastaList %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}
</p>
<p>
    Enter a comma separated list fasta access codes to add:<br>
    {{ form.fastaAdd(rows=10, cols=40) }}
    {% for error in form.errors.fastaAdd %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}
</p>
<p>
    Enter a comma separated list fasta access codes to remove:<br>
    {{ form.fastaSubtract(rows=5, cols=40) }}
    {% for error in form.errors.fastaSubtract %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}
</p>
<input type="submit" value="Compose List"></p>
</form>
{% endblock %}
