{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="fastaUpload">
{{form.hidden_tag()}}
<p>
    Enter a comma separated list fasta access codes:<br>
    {{ form.fastas(rows=10, cols=40) }}
    {% for error in form.errors.fastas %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}
</p>
<p>
    Enter any lists to include, comma separated:<br>
    {{ form.fastaLists(rows=5, cols=40) }}
    {% for error in form.errors.fastaLists %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}
</p>
<p>
    Enter any lists of fastas to exclude:<br>
    {{ form.subtractList(size=30) }}
    {% for error in form.errors.subtractList %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}
</p>
<input type="submit" value="Compose List"></p>
</form>
{% endblock %}
