{# 
   This template requires a list of header information "headerList"
   and a list of row lists "outputData" that is a list of lists
#}
{% extends "base.html" %}
{% block content %}
<div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{enzymePlotData|safe}});

        var options = {
          title: 'Enzyme activity estimation specificity',
          vAxis: {title: 'Enzymes',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('enzyme_chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="enzyme_chart_div" style="width: 800px; height: 400px;"></div>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{orphanPlotData|safe}});

        var options = {
          title: 'Cleavages not following assigned enzymatic rules',
          vAxis: {title: 'Cleavage type',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('orphan_chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="orphan_chart_div" style="width: 800px; height: 800px;"></div>
</div>
<div>
<!-- this style element is 'ok' on most browsers since
html5 will allow scoped style in the body -->
<style type = "text/css" scoped>
    table, th, td
    {
    border: 1px solid black;
    border-collapse:collapse
    }
</style>
<h3>Peptidome enzyme analysis results:</h3>
<table>
  <tr>
  {% for headTxt in headerList %}
    <th width="100">{{ headTxt }}</th>
  {% endfor %}
  </tr>
  {% for row in outputData %}
  <tr>
    {% for data in row %}
    <td>{{ data }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
